		.box{
			  
			width: 1580px;
			height: 800px;
			
			border: 3px solid black;
			background-color: rgb(214, 245, 245);
            z-index: -100;
		}
		.container1{
			
			background-color: #0A1393;
			border: 2px solid black;
			width:100%;
			height:120px;
			color:white;
		}
    .disabled {
    opacity: 0.5
}
.red
		{
			position: absolute;
	    	margin-top: 0px;
            margin-left: 2px;
            z-index: -30;	
		}

.dropbtn {
  background-color: #4CAF50; 
  border: none;
  color: white;
  border-radius: 4px;
  padding: 12px 24px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
  height:40px;
  width:160px; 
  margin-left: 1200px;
  margin-top: 143px;
}
.dropdownn {
  position: relative;
  display: block;


}
.dropdownn-content {
 
  visibility: hidden;
  position: absolute;
  background-color: #f1f1f1;
 box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  margin-left: 1070px;
  
  z-index:999;
  padding: 2px;
}


.dropdownn:hover .dropdownn-content {visibility: visible;}

table { 

 
}
tr{border: 1px solid black;
padding:1px ;}
th,td {
  
  padding:1px ;
   
}

.container6
{
 border: 1px solid black;
 background-color: rgb(252, 252, 252);
 padding:1px 12px 1px 12px;
 margin-top:199px;
 position:absolute;
 margin-left:830px;
 width:450px;
}
.container2{
			width:1400px;
			height:498px;
			background-color:#fdf5e2;
			margin-top:150px;
      margin-left:70px;
			border:5px solid black;	
		   }
.board{
	 position: absolute;
      top: 360px;
      left: 462px;
}

.text1{
	        position: absolute;          
            left: 625px;
            color:white;
            top:100px;
}
.text2{
	position:absolute;
	top:100px;
	left:170px;
	color:white;
}
.text3{
	position:absolute;
	left:400px;
	color:white;
	top:100px;
}

.copyright{
  height:30px;
  width:1582px;
  border:2px solid black;
  top:813px;
  left:8px;
  background-color: #0A1393;
  color:white; 
  z-index: -20; 
  }
